SECRET_JWT_SEED = "LLAVE SECRETA DEL JSONWEBTOKEN XD"
SECRET_JWT_SEED_EXPIRATION_TIME = "5m"

SERVER_PORT = 8000
DB_ADDRESS = "mongodb://localhost:27017/COLECCIONXD"

HOW_MANY_HASHES = 10
NODE_ENV = development

ALLOWED_CORS_ORIGINS=http://localhost:3000,http://localhost:8000